name: CMake

env:
  PLUGIN_SDK_DIR: '${{github.workspace}}/plugin-sdk'

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-release:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Clone headshot2017/plugin-sdk
      uses: actions/checkout@v3
      with:
        repository: headshot2017/plugin-sdk
        path: '${{github.workspace}}/plugin-sdk'

    - name: Set up MinGW 32 bit
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x86
        version: 12.2.0

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release -G "MinGW Makefiles"

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config Release

    - name: Use the Upload Artifact GitHub Action
      uses: actions/upload-artifact@v2
      with:
        name: sm64-san-andreas-release
        path: build/scripts

  build-debug:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Clone headshot2017/plugin-sdk
      uses: actions/checkout@v3
      with:
        repository: headshot2017/plugin-sdk
        path: '${{github.workspace}}/plugin-sdk'

    - name: Set up MinGW 32 bit
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x86
        version: 12.2.0

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Debug -G "MinGW Makefiles"

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config Debug

    - name: Use the Upload Artifact GitHub Action
      uses: actions/upload-artifact@v2
      with:
        name: sm64-san-andreas-debug
        path: build/scripts
